[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = false
	action = cherry pick
[access "refs/*"]
	owner = group user/Vener Guevarra (venerguevarra)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vener Guevarra (venerguevarra)
	label-Verified = -1..+1 group user/Vener Guevarra (venerguevarra)
	push = group user/Vener Guevarra (venerguevarra)
	read = group user/Vener Guevarra (venerguevarra)
	rebase = group user/Vener Guevarra (venerguevarra)
	removeReviewer = group user/Vener Guevarra (venerguevarra)
	submit = group user/Vener Guevarra (venerguevarra)
[access "refs/heads/*"]
	create = group user/Vener Guevarra (venerguevarra)
	push = +force group user/Vener Guevarra (venerguevarra)
	pushMerge = group user/Vener Guevarra (venerguevarra)
	read = group user/Vener Guevarra (venerguevarra)
[access "refs/tags/*"]
	push = group user/Vener Guevarra (venerguevarra)
	push = +force group user/Vener Guevarra (venerguevarra)
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
